html {
  font-family: "Raleway", sans-serif;
}

body {
  background: #9bd1fa;
}

header {
  background-color: #ffffff;
  margin: 20px auto 50px auto;
  padding: 16px 32px;
  width: 400px;
  text-align: center;
  border-radius: 2%;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  color: #252629;
}

form {
  position: relative;
  width: 500px;
  height: 140px;
  margin: 20px auto 20px auto;
  background-color: #ffffff;
  padding: 17px;
  border-radius: 2%;
}

form input {
  width: 100%;
  border: none;
  padding: 5px;
  font-size: 1.5em;
  background-color: #ffffff;
  color: rgb(102, 100, 100);
  outline: none;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

form textarea {
  width: 100%;
  border: none;
  padding: 5px;
  font-size: 1.5em;
  background-color: #ffffff;
  color: rgb(102, 100, 100);
  resize: none;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

form button {
  position: absolute;
  bottom: 10px;
  width: 54px;
  height: 54px;
  color: rgb(255, 255, 255);
  background-color: rgb(36, 35, 35);
  border: none;
  cursor: pointer;
  border-radius: 10%;
  font-family: "Raleway", sans-serif;
}

.typed {
  /* Appears after you input text and click add*/
  background: #ffffff;
  padding: 12px;
  width: 150px;
  margin: 50px 30px 16px 30px;

  float: left;

  border-radius: 2%;
}

.typed h1 {
  font-size: 1.1em;
  color: rgb(90, 87, 87);
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.typed p {
  font-size: 1.1em;
  margin-bottom: 10px;
  color: rgb(102, 100, 100);
  word-wrap: break-word;
  white-space: pre-wrap;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.typed button {
  position: relative;
  bottom: -5px;
  color: #fff;
  float: right;
  width: 25px;
  border: none;
  height: 25px;
  cursor: pointer;
  background-color: #000000;
  border-radius: 15%;
  font-family: "Raleway", sans-serif;
}

button:hover {
  color: rgb(136, 199, 196);
}

.Footer {
  top: 450%;
  left: 50%;
  position: absolute;
}
